
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

a {
	color:#DB5079;
}


svg {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}

.loader {
	border: 0.3em solid white; 
	border-top: 0.3em solid #DB5079; 
	border-radius: 50%;
	width: 0.2em;
	height: 0.2em;
	animation: spin 2s linear infinite;

}



.overlay {
	position:fixed;
	top: 30vh;
	left: 50vw;
	font-size:120%;
	text-align:center;
}

.overlay .loader{
	width: 4em;
	height: 4em;
	border: 1.5em solid #696969; 
	border-top: 1.5em solid #DB5079; 

}

line.selected {
	stroke: #DB5079 !important;
	stroke-width: 3px !important;
}

circle.selected {
	fill: #DB5079 !important;
}


#tree{
	z-index:100;

}



body {
	font-family: "Source Sans Pro", "Arial"; 
	background-color:white;
	width:100%;
	min-width:500px;
	height:300px;
	min-height:100%;
	margin:0;
	padding:0;

	@media screen and (orientation:portrait) {
		text-size-adjust: 160%;
	}
	@media screen and (orientation:landscape) {
		text-size-adjust: 100%;
	}

	
}


.dz-preview{
	display:none;
}

svg{
	%border-style:solid;
	border-width:0.5px;
}



html {
	height: 100%;
}


table {
	%font-family: Courier New; 
	font-size:16px;
	position:relative;
}

table td {
	margin:0;
}

table {
	border-collapse: collapse;
}

.node {
	cursor:pointer;
}


polygon, line, circle {
	transition: fill 0.2s ease;
}

line {
	transition: stroke 0.2s ease;
}



.button{
	transition: all 0.2s ease 0s;
	border-radius:5px;
	padding: 5;
	margin-right:10px;
	margin-left:10px;
	border-color:black;
	border-style:solid;
	border-width:1px;
	cursor:pointer;-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.button.large{
	font-size:150%;
	padding: 10;
}

.button.disabled {
	background-color:#696969;
	cursor:auto;
	color:white;
}


.button:hover{
	color:white;
	background-color:#DB5079;
}

.button.disabled:hover {
	background-color:#696969;
}


#main{
	margin-left:50px;
	margin-right:20px;
}

.outlinedText{
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.colourbox{
	%height: 40px;
	padding-left:1.6em;
	padding-top:5px;
	padding-top:5px;
	margin-right:3px;
	border-radius: 2px;
	border-color: black; 
	border-style:solid;
	border-width:1px;
	cursor:pointer;
}

.colourbox.selected{
	border-width:3px;
}

.colourbox.dashed{
	border-style:dotted;
}


.dialog{

	z-index:1000;
	position:fixed;
	width:50%;
	text-align:center;
	margin-left:25%;
	top:20vh; 
	%min-height:200px;
	text-align:center;
	background-color:#708090; 
	padding: 10 10; 
	%margin:auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (max-width: 1200px) {
	.dialog{
		width:95%;
		margin-left:2.5%;
	}
}


.dialog.toTheSide{
	position:relative;
	margin-left:0;
	%top:10vh;
	width:100%;
	margin-bottom:100;
}


.dialog_inner{
	background-color: white; 
	padding: 1em 1.5em; 
	text-align:center; 
	font-size:15; 
	overflow-y:auto
}


.glowing {
	%filter: invert(100%);
	background-color:orange;
	color:white; 
	border-radius:5px;
	border-color: #FFFFB2; 
	 -webkit-box-shadow: 0 0 10px #FFFFB2; 
	   -moz-box-shadow: 0 0 10px #FFFFB2; 
		box-shadow: 0 0 10px #FFFFB2; 
}


.annoyingFlash{
	color:red;
	position:fixed;
	font-family: "Comic Sans";
	top: 50%;
	bottom: 50%;
	font-size: 5em; 
	text-align: center;
	width:100%;
}



.numberinput{

	background: transparent;
	background-color:white;
	color:black;
	border-color:black;
	border-style:solid;
	border-width:1px;
	min-width:10px!important;
	max-width:99.99%!important;
	transition: width 0s;
	padding: 5;
}

.numberinput.cranberry{
	background-color:#DB5079;
	border: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:white;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}


#header{
	text-align:center;
	font-size:450%;
	line-height:1.3em;
	background-color:#DB5079;
	color:white;
	width:99%;
	margin-left:0.5%;
	padding:0;
	margin-bottom:5;
	border-radius:0px 0px 20px 20px;
	border-color:black;
	border-style:solid;
	border-width:1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#footer{
	z-index:1;
	text-align:center;
	line-height:3em;
	background-color:#DB5079;
	font-size:100%;
	color:white;
	width:99%;
	margin-left:0.5%;
	padding:0;
	margin-top:5;
	border-radius:20px 20px 0px 0px;
	%border-color: white; 
	%border-style:solid;
	%%border-width:2px;
	position:fixed;
	bottom:-5px;
	border-color:black;
	border-style:solid;
	border-width:1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	vertical-align:bottom;

	@media screen and (orientation:portrait) {
		text-size-adjust: 250%;
	}
	@media screen and (orientation:landscape) {
		text-size-adjust: 130%;
	}


	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}


.subheader{
	margin-top:-0.65em;
	font-size:23%;
	line-height:1.7em;
}

.rotate90{
	transform: rotate(90deg);
}

.rotate180{
	transform: rotate(180deg);
}

.rotate270{
	transform: rotate(270deg);
}


.sideTab {
	transition: all 0.2s ease 0s;
	position: absolute;
	left: -5px;
	font-size:120%;
	transform: rotate(-90deg);
	transform-origin: left top 0px;
	padding: 5px 10px;
	color: black;
	border-radius: 0px 0px 20px 20px;
	z-index: 3;
	margin-left: 0px;
	border-color:black;
	border-style:solid;
	border-width:1px;
	cursor:pointer;				
	cursor:pointer;-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}


.sideTab:hover{
	color:white;
	background-color:#DB5079;
}

#treeNumContainer{
	font-size:140%;
}
 
.icon{
	width:40px;
	height:40px;
	cursor:pointer;
	padding: 3;

}

.arrow{
	position:relative;
	bottom: 0px;
	font-size:300%;
	%line-height:0.1em;
	%padding: 5;
	margin-left:5px;
	margin-right:5px;
	padding:0;
	margin-bottom:0px;
	cursor:pointer;
	color:white;
}

.arrow:hover{
	color:black;
}


#fileUploading{
	width:100%;
	min-height:300px;
	height:400px;
	margin-top:1em;

}




.uploader {
	height:25em;
	border-style:dashed;
	border-radius: 20px;
	text-align:center;
	vertical-align:middle;
	margin: 20px;
	overflow-y:auto;
	overflow-x:auto;
}

.uploader.small{
	height:15em;
}


.uploader.dz-drag-hover, .uploader:hover {
	background-color:#DB5079;
}

.uploader  div {
	font-size:200%;
	margin-top: 3em;
	color:#DB5079;
	padding: 10;
	%text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	
}


.uploader.small div{
	font-size:150%;
}


@media screen and (orientation:portrait) {

	.uploader  div {
		text-size-adjust:200%;
	}
}
@media screen and (orientation:landscape) {
	.uploader  div {
		text-size-adjust:80%;
	}
}


.uploader.dz-drag-hover div, .uploader:hover div {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.uploader table{
	%border-style:solid;
	%border-width:0.5px;
	width:80%;
	margin-left:10%;
}


.uploader.dz-drag-hover table, .uploader:hover table {
	color:white;
}

.uploaderTd{
	width:35%;
}

@media only screen and (max-width: 1200px) {
	@media screen and (orientation:portrait) {

	.uploaderTd{
		width:20em;
	}
}
@media screen and (orientation:landscape) {
	.uploaderTd{
		width:15em;
	}
}


}



.dialogDesc{
	 font-size:120%;
}


@import "compass/css3";


.thicklines {
	line-height:3em;

}

.dropdown{
	background-color:#DB5079;
	padding:5;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.dropdown:after{
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #f00;
	position: absolute;
	top: 40%;
	right: 5px;
	content: "";
	z-index: 98;
}

.dropdown select{
	width: 220px;
	border: 0;
	position: relative;
	z-index: 99;
	background: none;
}


.sideNavSetting .dropdown{
	width:100%;
}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	%text-align:left;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	%vertical-align:bottom;
	justify-content: left;
	margin-left:1em;
}

.flex-item {
	%width: 33%;
	%text-align:left;
	%margin-left:0.5em;
}

.flex-container.center{
	justify-content: space-around;
}


.textbutton{
	cursor:pointer;
	vertical-align:bottom;
	font-size:120%;
	
	
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}


.textbutton.left{
	margin-left:1.5em;
	float:left;
}

.textbutton.right{
	margin-right:1.5em;
	float:right;
}


.textbutton:hover{
	color:black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


#innerBody {
	transition: 0.5s;

}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	overflow-y:scroll;
	transition: 0.5s;
	padding-top: 20px;
	text-align:left;
	border-style:solid;
	border-width:1px;
}

.sideNavHeader{
	text-align:center;
	font-size:150%;
	line-height:1.3em;
	background-color:#DB5079;
	color:white;
	padding:5;
	border-color:black;
	border-style:solid;
	border-width:1px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.sidenav .closebtn {
	float:right;
	text-decoration:none;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-size-adjust:250%;
}


.sidenav .closebtn:hover {
	color:black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 4em;
	height: 2em;
	vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}



.switchslider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .3s;
	transition: .3s;
	border-radius: 2em;
}



.switchslider:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.5em;
	left: 0.25em;
	bottom: 0.25em;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
	border-radius: 50%;
}


label {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.notboolean{
	background-color: #DB5079;	
}

input:checked + .switchslider {
	background-color: #DB5079;		
}

input:focus + .switchslider {
	box-shadow: 0 0 1px #DB5079;
}

input:checked + .switchslider:before {
	-webkit-transform: translateX(2em);
	-ms-transform: translateX(2em);
	transform: translateX(2em);
}

.switchslider.disabled{
	cursor:auto !important;
	background-color: #d3d3d3 !important;
}


.input[type=checkbox].modelSetting {
	vertical-align:middle;
}

input {
	box-shadow: none;
}



.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 20px;  
	background: #DB5079;
	outline: none;
	%opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-color:black;
	border-style:solid;
	border-width:1px;
}



.slider:hover {
	%opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: white;
	cursor: pointer;
	border-color:black;
	border-style:solid;
	border-width:1px;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	border-color:black;
	border-style:solid;
	border-width:1px;
}


.sideNavSetting{
	width:80%;
	margin-left:10%;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

.colourGradientRow{
	

	
}

.colourGradientRow td{
	padding-top:0.6em;
	padding-bottom:0.6em;
	%border-width: 1px;
    %border-style: solid;
}

.colourSetting {
	width:100%;
	margin-top:20px;
	margin-left:2px;
	margin-right:2px;
}

.colourSetting td {
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	font-size:90%;
	text-align:left;
}


.checkbox-container{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 140%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.checkbox-container.small{
	font-size:100%;
 }


/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: -0.4em;
	left: 0.25em;
	height: 1em;
	width: 1em;
	color:black;
	background-color: white;
	border-radius:10px;
	border-color:black;
	border-style:solid;
	border-width:1px;
}

.checkbox-container.small .checkmark{
	left: 0.5em;
}


/* On mouse-over, add a background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: #DB5079;
}

/* When the checkbox is checked, add a cranberry background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #DB5079;
	
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 0.32em;
	top: 0.15em;
	width: 0.25em;
	height: 0.5em;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
					
.speciesAnnotationsDropdown{
	width:75% !important;
}

#hoverAnnotationDiv {
	z-index:200;
	position:absolute;
	color:white; 
	word-break: break-all; 
	border-radius:10px; 
	text-align:left; 
	font-size:120%; 
	padding: 3; 
	border-style:solid; 
	background-color:#BEBEBE;
	border-color:#BEBEBE;;
	%border-left-color:#A9A9A9;
}


#hoverAnnotationDiv.topPointer {
	border-top-left-radius: 0px;
	%box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#hoverAnnotationDiv.bottomPointer {
	border-bottom-left-radius: 0px;
	%box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#hoverAnnotationDiv > div{
	border-style:solid; 
	border-color:white;
	border-width:1px;
}

#hoverAnnotationDiv table{
	width:100%;
	color:white;

}

#hoverAnnotationDiv td{
	padding:5px;
}

.rowbutton td{
	cursor:pointer;
	border-top: 0.5px solid white;
	%border-top: 0.5px solid white;
}

.rowbutton:hover{
	color:#BEBEBE;
	background-color:white;
}


.nodeSelected{
	opacity:1 !important;
}



#measureText {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.draggableLegend{
	cursor:move;

}









